/* head area */
@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-Bold.woff2") format("woff2"),
    url("Averta-web-font/Averta-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-BoldItalic.woff2") format("woff2"),
    url("Averta-web-font/Averta-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-Thin.woff2") format("woff2"),
    url("Averta-web-font/Averta-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-SemiboldItalic.woff2") format("woff2"),
    url("Averta-web-font/Averta-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-ThinItalic.woff2") format("woff2"),
    url("Averta-web-font/Averta-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-Light.woff2") format("woff2"),
    url("Averta-web-font/Averta-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-Regular.woff2") format("woff2"),
    url("Averta-web-font/Averta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-BlackItalic.woff2") format("woff2"),
    url("Averta-web-font/Averta-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-Black.woff2") format("woff2"),
    url("Averta-web-font/Averta-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-Semibold.woff2") format("woff2"),
    url("Averta-web-font/Averta-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-ExtraBoldItalic.woff2") format("woff2"),
    url("Averta-web-font/Averta-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-LightItalic.woff2") format("woff2"),
    url("Averta-web-font/Averta-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-RegularItalic.woff2") format("woff2"),
    url("Averta-web-font/Averta-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Averta";
  src: url("Averta-web-font/Averta-ExtraBold.woff2") format("woff2"),
    url("Averta-web-font/Averta-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

:root {
  --primary-color: #00425F;
  --primary-color-dark: #012534;
  --darker-color: #00151f;
  --light-color: rgba(238, 237, 237, 0.856);
  --primary-red: #DC4437;

}

body h1,
html,
h2,
h3,
h4,
h5,
h6,
p,
div,
/* .btn, */
li,
a,
form,
label {
  font-family: "Averta" !important;


}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Averta" !important;
  padding: 0;

}

a {
  text-decoration: none;
}

/* ===============================
 BANNER SECTION START 
================================== */


/* Banner image */
.hero-section {
  height: 100vh;
  color: white;

  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url('image/Personal_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* grid styles for the hero section */
}

/* Banner text */
.hero-text {
  position: absolute;
  text-align: center;
  max-width: 720px;
  right: 15%;
  top: 56%;
  justify-content: center;
  /* padding-right: 50px; */
}

.hero-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  margin: 0 0 1rem 0;
  line-height: 72px;
  font-family: "Averta" !important;
  text-align: right;

}

.hero-text p {
  font-family: "Averta" !important;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 35px;
  color: white;
  /* padding-left: 60px; */
}

/* NAVBAR AREA */
nav {
  padding: 2em 1em;
  transition: all .3s;

}

.nav_parent {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.logo {
  flex: 1 0 auto;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 30px;
}



.logo:hover {
  text-decoration: none;
  cursor: default;
}

li {
  /* margin-right: 25px; */
}

li:hover {
  cursor: pointer;
}

.nav-item {
  font-size: 20px;
  padding-right: 40px;
  justify-content: space-between;
}

.nav-item img {
  vertical-align: middle;
}

.bi-chevron-down {
  padding-left: 10px;
}

.nav-item a:hover {
  transform: scale(1.1);
  color: #DC4437;

}

.nav-item:hover {
  transform: scale(1.1);
  color: #DC4437;

}

/* .nav-link:active {
  transform: scale(1);
} */


  .blink{
    visibility:hidden;
}


/* BANNER SECTION END */

/* ===============================
CONNECTING AFRICA SECTION
================================== */

.stats {

  text-align: center;
  align-self: center;
  padding-bottom: 50px;

}

.stats .card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.137);
}

.stats-text {
  padding: 150px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats-main-heading {

  font-family: 'Averta';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 57px;

  text-align: left;
  color: #6B7280;
  max-width: 790px;

}

.stats-heading {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 156% */

  text-align: center;
  color: #6B7280;
  max-width: 510px;

}

/* .card i {
  float: left;
  padding-top: 30px;
} */

.card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-h3 {
  margin-top: 30px;
  margin-bottom: -30px;
  text-align: left;

  color: #9CA3AF;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.card_paragraph {
  text-align: left;
  padding-top: 50px;
  color: #5F738C;
  font-size: 16px;
  font-weight: 400;

}

.Cards {

  max-width: 100%;
}


.arrow-style {
  text-decoration: none;
  color: #479FC8;
}

.learn-more {
  color: #479FC8;
  text-align: left;
  padding-top: 20px;
}

.card-text {
  margin-top: -200px;
  text-align: left;
  line-height: 20px;
}

.text-secondary {
  position: absolute;
  align-items: center;
}

.small-card-text {
  margin-top: 30%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
}

.img-c-h3 {
  margin-right: 40px;
  text-align: left;
}

/* ===============================
PAN AFRICA STORY SECTION
================================== */
.pan {
  align-self: center;
  padding-bottom: 30px;
}

.pan-cont {
  padding: 120px 25px;
}

.pan-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pan-flex-2 {
  display: flex;
  justify-content: flex-start;
  padding-top: 70px;
}

.pan-story-main-heading {
  top: 48px;
  font-family: 'Averta';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  max-width: 344px;
  line-height: 64px;
  color: #00425F;
}

.pan-heading {
  color: #00425F;

  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 615px;


  text-align: left;
}

.pan-heading-2 {
  color: #00425F;

  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 480px;

  text-align: left;
}

/* Map section */

.footprint {
  height: auto;
  margin-top: 70px;

}

.footprint_text {

  /* position: absolute; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding-left: 70px; */
  /* width: auto; */
  /* padding-left: 250px; */
}


.map_section {
  flex: 0;
  max-width: 500px;
}

.footprint_text h2 {

  margin-bottom: 0;
  color: #EE312A;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  line-height: 85px;
  text-align: left;
}

.footprint_text p {
    /* width: 262px; */
    /* height: 55px; */
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 12px;
    text-align: left;
    color: #00425F;
}

.single-foot-text {
  padding: 21px 0;
}

iframe {

  text-align: center;


}


/* ===============================
HERE FOR AFRICA SECTION
================================== */


.here-text {
  padding: 60px 10px;
  max-width: 1050px;
  margin: 0 auto;
}

.hfa {
  width: 100%;
  text-align: center;
  background: url(image/hfa-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 25px;

}

.hfa-story-main-heading {
  padding-bottom: 42px;

  font-family: 'Averta';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 180% */

  text-align: center;

  color: #ffffff;
}

.hfa-heading {
  color: #ffffff;

  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 156% */

  text-align: center;
}

.good-flex {
  display: flex;
  justify-content: space-around;

}

.mid-flex {
  display: flex;
  justify-content: space-around;

}

.here-for-things {
  padding: 75px 0px;
  background-repeat: no-repeat;

}

.btn {
  text-transform: none !important;
}

/* Here for Africa content */

/* Features */

.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.here-img-container {
  max-width: 450px;
}

.features-sub-head img {
  width: 100% !important;
  /* justify-self: flex-end; */
}

.features-sub-head {
  padding: 40px 0 !important;
}

.v-img {
  width: 430px;
}

.features-main .card i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 3 0px;
}

.features-main .grid>*:first-child {
  grid-column: 1 / span 3;

}

.features-main .grid>*:nth-child(2) {
  grid-column: 1 / span 2;
}

.va_text {
  color: #00425F;
  max-width: 458px;
  text-align: left;
  }
  
  .hfa_text {
    max-width: 458px;
    text-align: left;
    color: #fff;
  
  }

  .va_text-heading {
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 15px;
  }

.hfa_text-heading {
  color: white;
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 15px;
}


.va_text-paragraph {
  margin-bottom: 30px;
  max-width: 440px;
  font-size: 18px;
  line-height: 28px;
}

.hfa_text-paragraph {
  margin-bottom: 30px;
  max-width: 440px;
  font-size: 18px;
  line-height: 28px;
}

.va_text .btn {
  background-color: #DC4437;
  color: white;
}

.hfa_text .btn {
  background-color: #DC4437;
  color: white;
}

.va {
  padding: 50px 25px;
}


/*===========================
 VERVELIFE SECTION 
 ==========================*/

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

.overlay-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 770px;
  width: 100%;
  height: 100px;
  padding: 20px 25px;
}

.overlay-text h1 {
  font-weight: 800;
}

.best_life {
  color: #00b8de;
}

.v-life {
  color: #DC4437;
  font-size: 50px;
}

.overlay-text .btn {
  background-color: #DC4437;
  color: white;
}

.overlay-text p {
  line-height: 28px;
  margin-bottom: 20px;

}

.overlay-text h4 {
  padding-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
}

/*===========================
 INSIGHTS AND UPDATES SECTION 
 ==========================*/
.insights_updates-heading {
  top: 48px;
  padding-bottom: 60px;
  font-family: 'Averta' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 180% */

  text-align: center;

  color: #18425D
}

.resources {
  margin-top: 50px;
  text-align: center;
  background-color: #00425F;
  color: #fff;
}

.resources:hover {
  color: #fff;
}

#shift {
  padding-left: 300px;
  padding-right: 180px;
}

#news-slider {
  margin-top: 80px;
}

.post-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: -12px 15px 8px 15px;
  margin-left: -10px;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
  transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}

.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}

.post-slide .post-content {
  background: #fff;
  padding: 2px 20px 40px;
  border-radius: 15px;
}

.post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}

.post-slide .post-description {
  line-height: 24px;
  color: #808080;
  margin-bottom: 25px;
}

.post-slide .post-date {
  color: #a9a9a9;
  font-size: 14px;
}

.post-slide .post-date i {
  font-size: 20px;
  margin-right: 8px;
  color: #CFDACE;
}

.post-slide .read-more {
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: #2196F3;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}

.post-slide .read-more:hover {
  background: #3498db;
  text-decoration: none;
  color: #fff;
}

.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: -13%;
  left: 15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: -13%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}

@media only screen and (max-width:1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}

/* ====================================
  FOOTER STYLING
=====================================*/
.footer_area {
  padding: 0 50px;
}


/*==================================
RESPONSIVE STYLING
=================================== */

@media (max-width: 1662px) {
  .lottie-earth {
    width: 920px !important;
  }
}


@media (max-width: 1580px) {
  .lottie-earth {
    width: 899px !important;
  }
}


@media (max-width: 1475px) {
  .lottie-earth {
    width: 880px !important;
  }
  .hero-text {
    right: 8%;
    top: 50%;
   
 
  }
}
@media (max-width: 1438px) {
  .lottie-earth {
    width: 875px !important;
  }
  .hero-text {
    right: 10%;
    top: 50%;
   
    /* padding-right: 50px; */
  }
}

@media (max-width: 1400px) {
  .lottie-earth {
    width: 830px !important;
  }
  .hero-text {
    right: 10%;
    top: 50%;
   
    /* padding-right: 50px; */
  }
}

@media (max-width: 1340px) {
  .lottie-earth {
    width: 779px !important;
  }
  .hero-text {
    right: 10%;
    top: 50%;
   
    /* padding-right: 50px; */
  }
}

@media (max-width: 1280px) {
  .hero-section {
    height: 120vh;
  }

  .hero-text {
    top: 50%;
    right: 5%;
    max-width: 520px;
  }

  .hero-text h1 {
    font-size: 54px;
    margin: 0 0 1rem 0;
    line-height: 63px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .verve-logo {
    padding-left: 15px;
  }

  .nav-item {
    font-size: 15px;
  }

  .cards {
    padding: 0 30px;
  }

  .hfa-heading {
    font-size: 16px;
  }
  .lottie-earth {
    width: 710px !important;
  }
}

@media (max-width: 1215px) {
  .lottie-earth {
    width: 650px !important;
  }
}

@media (max-width: 1136px) {
  .lottie-earth {
    width: 575px !important;
}
}

@media (max-width: 1080px) {
  .lottie-earth {
    width: 525px !important;
  }
}


@media (max-width: 991px) {

  .good-flex {
    flex-direction: column;
    align-items: center;
  }

  .mid-flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hfa_text {
    padding-top: 20px;
    text-align: center;
  }

  .footprint_text h2 {
    margin-bottom: 0;
    color: #EE312A;
    font-size: 45px;
  }
  .footprint_text p {
    /* width: 262px; */
    /* height: 55px; */
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 8px;
  }

  .lottie-earth {
    width: 525px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (max-width: 768px) {
  /* Styles */


  .hero-text {
    width: auto;

    left: 250px;
    top: 300px;
    font-family: "Averta" !important;
    /* padding-right: 50px; */
  }

  .nav-item {
    font-size: 15px;
    padding-right: 32px;
  }

  .stats-text {
    flex-direction: column;
  }

  .pan-heading {
    font-size: 14px;
    line-height: 22px;
  }

  .pan-heading-2 {
    font-size: 15px;
    line-height: 23px;
  }

  .pan-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }

  .pan-flex-2 {
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
  }

  .pan-story-main-heading {
    max-width: 500px;
  }

  .footprint_text {

    /* position: absolute; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-left: 70px; */
    /* width: auto; */
    padding-left: 0px;
    flex: 1
  }

  .footprint_text h2 {

    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    text-align: left;
    line-height: 45px;
  }

  .footprint_text p {
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;

    margin-bottom: 0;

    /* text-align: center; */

    color: #00425F;
  }

  .lottie-earth {
    width: 507px !important;
}

  iframe {
    width: 434px;
    height: 433px;
  }

  .features-sub-head img {
    justify-self: center;

  }

  .hfa_text {
    text-align: center;
  }

  .good-flex {
    flex-direction: column;
    align-items: center;
  }

  .mid-flex {
    flex-direction: column-reverse;
    align-items: center;
  }

}


@media only screen and (min-width: 486px) and (max-width: 705px) {

  /* Styles */
  .hero-text {
    left: 207px;
    top: 300px;
    font-family: "Averta" !important;
    padding-right: 7px;
  }



  .hero-text h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: right;
  }

  .hero-text p {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
  }

  iframe {
    width: 310px;
    height: 360px;

  }

}



@media (max-width: 485px) {

  .hero-section {
    height: 550px;
  }

  .hero-text {
    font-family: "Averta" !important;
    max-width: 358px;
    float: left;
    position: unset;
    margin-left: 19px;
    margin-top: 170px;

  }

  .hero-text h1 {
    font-size: 42px;
    line-height: 36px;

    text-align: left;
  }

  .hero-text p {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
  }

  .footprint_text {

    /* position: absolute; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-left: 70px; */
    /* width: auto; */
    padding-left: 10px;
  }

  .footprint_text h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  }

  .footprint_text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }


  .map_section {
    margin: 0 20px;
  }

  .lottie-earth {
    width: auto !important;
  }

  .pan-heading {
    font-size: 15px;
    line-height: 20px;
  }

  .pan-story-main-heading {
    font-size: 34px;
    line-height: 41px;
  }

  .hfa_text {
    text-align: left;
  }

  .hfa_text-heading {
    font-weight: 700;
    font-size: 20px;
  }

  .hfa_text-paragraph {
    font-size: 14px;
    line-height: 23px;
  }

  .features-sub-head img {
    width: 300px;
    justify-self: center;
  }

  iframe {
    width: 280px;
    height: 347px;

  }
}

@media (max-width: 375px) {

  .hero-text h1 {
    font-size: 35px;
  }

  .stats-text {
    padding: 64px 25px;
}
  .stats-main-heading {
    font-size: 21px;
    line-height: 32px;
  }

  .features-sub-head img {
    width: 290px;
  }

  .v-img {
    width: 260px !important;
  }

}


@media (max-width: 320px) {
  .pan-heading-2 {
    /* padding: 0 22px; */
  }

  .pan-flex-2 {
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
  }

}