@font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Bold.woff2") format("woff2"),
      url("Averta-web-font/Averta-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-BlackItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Thin.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-SemiboldItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-ThinItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Light.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Regular.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-BlackItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Black.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Semibold.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-ExtraBoldItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-LightItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-RegularItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-ExtraBold.woff2") format("woff2"),
      url("../Averta-web-font/Averta-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  :root {
    --primary-color: #00425F; 
    --primary-color-dark: #012534;
    --darker-color: #00151f;
    --light-color: rgba(238, 237, 237, 0.856);
    --primary-red: #DC4437;
  
  }
  
  body h1, html,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  /* .btn, */
  li,
  a,
  form,
  label {
  font-family: "Averta" !important;
  
  
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: "Averta" !important;
    padding: 0;
    
  } 


 /* ===============================
 BANNER SECTION START 
================================== */


/* Banner image */
.Verve_Access-home {
  color: white;
  background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url('../image/Verve-Access.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  
  /* grid styles for the hero section */
  }

/* Banner text */
.hero-text {
  text-align: left;
  max-width: 680px;
  padding-left: 112px;
  padding-top: 30px;
  padding-bottom: 131px;
  margin: 0;
 

  /* padding-right: 50px; */
  }

.hero-text h1 {

font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 69px;
text-align: left;
color: #00425F;
padding-bottom: 32px;
  
}

.hero-text p {
font-family: "Averta" !important;
text-align: left;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #00425F;
  /* padding-left: 60px; */
}

.hero-text button {
  background-color: #00425F;
  color: white;
 margin-top: 32px;
 padding: 16px 48px;
 border-radius: 8px;

}
.join_verve-access_btn {
  background: none !important;
  color: #353F50 !important;
  border: 1px solid #00425F !important;
  border-radius: 8px !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.hero-text button:hover {
  color: white;
}

/* NAVBAR AREA */
nav {
  padding: 2em 1em;
  transition: all .3s;

}

.nav_parent {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.logo {
  flex: 1 0 auto;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 30px;
}



.logo:hover {
  text-decoration: none;
  cursor: default;
}

li {
  margin-right: 25px;
}

li:hover {
  cursor: pointer;
}

.nav-item {
  font-size: 20px;
  padding-right: 40px;
  justify-content: space-between;
}

.nav-item img {
  vertical-align: middle;
}

.bi-chevron-down {
  padding-left: 10px;
}

.nav-item a:hover {
  transform: scale(1.1);
  color: #DC4437;

}

.nav-item:hover {
  transform: scale(1.1);
  color: #DC4437;

}

/* BANNER SECTION END */

/* ==================
Testing and certification section
=====================*/
.testing_and_cert {
  padding-top: 90px;
}
.testing_and_cert-flex {
  display: flex;
  justify-content: space-between;
}

.testing-img-container {
  max-width: 400px;

}

.testing-img-container img {
  width: 100%;
}

.testing-text {
  max-width:  545px;
}

.testing-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #00425F;
}

.testing-mid-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.testing-btn {
  background: #00425F;
  border-radius: 8px; 
  padding: 16px 78px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.testing-btn-container {
  padding-top: 24px;
}





/*==================================
RESPONSIVE STYLING
=================================== */
/* Small laptops */
@media (max-width: 1280px){
  .hero-section {
  height: 120vh;
  }
  .hero-text {
    top: 50%;
  }

  .testing_and_cert {
    padding: 80px;
  }

  .testing-text {
    max-width: 450px;
}
  
   }
/* iPads (portrait and landscape) ----------- */
@media (max-width: 1028px) { 
  /* Styles */
  

  .hero-text {
    width: auto;
    
    left: 50px;
    top: 300px;
    font-family: "Averta" !important;
    padding-left: 55px;
    }

    .nav-item {
      font-size: 20px;
    padding-right: 35px;
    }

    .testing_and_cert-flex {
      flex-direction: column;
      align-items: center;
    }

    .testing-img-container {
      padding-bottom: 30px;
    }

    .testing-text {
      text-align: center;
    }

}

@media (max-width: 768px) {
  .Verve_Access-home {
    background-position: left;
  }
    /* Styles */
    .hero-text {
      left: 50px;
      top: 300px;
      font-family: "Averta" !important;
      padding-right: 60px;
      /* padding-right: 50px; */
  
      }
  
      .hero-text h1 {
        font-size: 47px;
        line-height: 47px;
      }
  
      .hero-text p {
        font-size: 17px;
      line-height: 19px;
      }

      .hero-text button {
        padding: 16px 22px;
      }
  }

  @media (max-width: 520px) {

    .testing_and_cert {
      padding: 80px 20px;
    }

    .btn_flex {
      flex-direction: column;
    }

    .hero-text button {
      margin-top: 12px;
    }
  }



@media (max-width: 480px) {
  .hero-text {
    left: 50px;
    top: 300px;
    font-family: "Averta" !important;
    padding-top: 70px;
    padding-right: 20px;
    padding-left: 20px;

    }

    .hero-text h1 {
      font-size: 28px;
    line-height: 36px;
    text-align: left;
    }

    .hero-text p {
      font-size: 14px;
    line-height: 19px;
    text-align: left;
    }

    .testing-btn {
      padding: 16px 40px;
    }

}



@media (max-width: 375px) {
  .hero-text {
    left: 2px;
    top: 250px;
    font-family: "Averta" !important;
    padding: 51px;
    /* padding-right: 50px; */
    }

    /* .hero-text h1 {
      font-size: 18px;
      line-height: 35px;
      text-align: left;
    } */

    .hero-text p {
      /* font-size: 11px; */
    line-height: 19px;
    text-align: left;
    /* max-width: 240px; */
    }

    .testing-heading {
      font-size: 21px;   
       line-height: 28px;
    }

    .testing-mid-text {
      font-size: 13px;
      line-height: 24px;
    }
}