/* head area */
@font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Bold.woff2") format("woff2"),
      url("Averta-web-font/Averta-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-BoldItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Thin.woff2") format("woff2"),
      url("Averta-web-font/Averta-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-SemiboldItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-ThinItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Light.woff2") format("woff2"),
      url("Averta-web-font/Averta-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Regular.woff2") format("woff2"),
      url("Averta-web-font/Averta-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-BlackItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Black.woff2") format("woff2"),
      url("Averta-web-font/Averta-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-Semibold.woff2") format("woff2"),
      url("Averta-web-font/Averta-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-ExtraBoldItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-LightItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-RegularItalic.woff2") format("woff2"),
      url("Averta-web-font/Averta-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("Averta-web-font/Averta-ExtraBold.woff2") format("woff2"),
      url("Averta-web-font/Averta-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  :root {
    --primary-color: #00425F; 
    --primary-color-dark: #012534;
    --darker-color: #00151f;
    --light-color: rgba(238, 237, 237, 0.856);
    --primary-red: #DC4437;
  
  }
  
  body h1, html,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  /* .btn, */
  li,
  a,
  form,
  label {
  font-family: "Averta" !important;
  
  
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: "Averta" !important;
    padding: 0;
    
  } 
  
  a {
    text-decoration: none;
  }
    
  /* ===============================
   BANNER SECTION START 
  ================================== */
  
  
  /* Banner image */
  .hero-section {
  height: 100vh;
  color: white;
  
  background-image: 
  linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
  url('../image/Personal_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  }
  
  /* Banner text */
  .hero-text {
  position: absolute;
  text-align: center;
  flex-direction: column;
  max-width: 412px;
  
  right: 15%;
  top: 60%;
  
  justify-content: center;
  font-family: "Averta" !important;
  /* padding-right: 50px; */
   
  }
  
  .hero-text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 1rem 0;
    line-height: 65px;
  
    text-align: left;
  }
  
  .hero-text p {
  
    text-align: left;
  
    font-style: normal;
    font-weight: 900;
    font-size: 102px;
    line-height: 122px;
    color: white;
    /* padding-left: 60px; */
  }
  
  /* NAVBAR AREA */
  nav {
    padding: 2em 1em;
    transition: all .3s;
    
  }
  
  .nav_parent {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .logo {
    flex: 1 0 auto; 
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 30px;
  }
  
  
  
  .logo:hover {
    text-decoration: none;
    cursor: default;
  }
  
  li {
    margin-right: 22px;
    font-family: "Averta" !important;
  }
  
  li:hover {
    cursor: pointer;
  }
  .nav-item {
    font-family: "Averta" !important;
  font-size: 20px;
  padding-right: 25px;
  justify-content: space-between;
  }
  
  .nav-item img {
    vertical-align: middle;
  }
  .bi-chevron-down {
    padding-left: 10px;
  }
  
  .nav-item a:hover {
    transform: scale(1.1);
    color: #DC4437;
    
  }

  .nav-item:hover {
    transform: scale(1.1);
    color: #DC4437;
    
  }

  .good_text {
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}
  
  /* .nav-link:active {
    transform: scale(1);
  } */
  
  /* BANNER SECTION END */
  

  /* ===============================
HERE FOR AFRICA SECTION
================================== */

.hfa {
    width: 100%;
    text-align: center;
    background: url(image/hfa-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
  
  }
  
  .hfa-story-main-heading {
  top: 48px;
  padding-bottom: 30px;
  
  font-family: 'Averta';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* or 180% */
  
  text-align: center;
  
  color: #ffffff;
  }
  
  .hfa-heading {
  color: #ffffff;
  
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 156% */
  
  text-align: center;
  }
  
  .here-for-things {
    padding: 75px 0px;
    background-repeat: no-repeat;
  }

  .here-heading {
    max-width: 911px;
   text-align: center;
  }

  /* Stats */
.stats {
    padding-top: 75px;
    padding-bottom: 50px;
   
  
  background-image: 
  linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
  url('../image/Red_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stats .grid h3 {
    font-size: 20px;
    color: #fff;
    padding-top: 20px;
   
    font-weight: 700;
    
}

.stats .grid p {
    font-size: 16px;
    color: #fff;
}

.stats .grid img {
    padding-top: 10px;
}

#text-style {
    font-size: larger;
}

.text-mid {
    max-width: 224px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.learn-more {
    color: #fff;
   
    padding-top: 20px;
  }

  .learn-more:hover {
    cursor: pointer;
  }


/* Here for Africa section end */

 /* ===============================
Rewarding SECTION
================================== */
.reward {
    padding-top: 75px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
   
  
  background: #F9FAFB;
  background-size: cover;
  background-position: center;
}


.reward-story-main-heading {
    top: 48px;
    padding-bottom: 30px;
    
    font-family: 'Averta';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* or 180% */
    
    text-align: center;
    
    color: #18425D;
    }
    
    .reward-heading {
    color: #5F738C;;
    
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    text-align: center;
    padding: 30px 0;
    }

    .deals-card {
        width: 491px;
        height: 468px;

        padding: 20px;
        margin: 10px;
    
        background: #F1FEF1;
        box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
    }

    .big-deal {
        color: #DC4437;
        float: right;
        padding-top: 20px;
        font-weight: 400;
        font-size: 22px;
    }

    .img_width img {
        /* max-width: 90%; */
        padding: 0 0px;

    }
  
    .deal-offers {
        width: 150px;
        height: 135px;

        padding: 20px;
        margin: 10px;
        border: none;
        background: #EE312A;
        border-radius: 11px;
        box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.05);
        color: #fff;
    }

    .deal-offers:hover {
        transform: translateY(-20px);
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.137);
    }

    .main_content {
        position: relative;
        z-index: 10;
        padding-top: 100px;
      }
   
    .bg-text{
        top: 10px;
        position: absolute;
        z-index: 1;
       
      }
      .background--text{
        font-weight: 900;
        font-size: 212px;
        line-height: 125px;
        
        letter-spacing: -7.5px;
        text-align: center;
        
        color: #EBF8FE;
       
      }


/* ===============================
For You SECTION
================================== */
.for-you {
/* padding-top: 75px; */
padding-bottom: 50px;
height: 100vh;
   
  
  background-image: 
  linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
  url('../image/Card_board.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.for_you-heading {
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 84px;
color: #fff;

max-width: 750px;
}

.for_you-paragraph {
 max-width: 451px;
 font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #fff;
}

.for_you-btn {
    background-color: #DC4437;
    color: #fff;
    text-transform: none;
}

.for_you-btn:hover{
    color: #fff;
}

.for_you-text {
    padding-left: 40px;
}

/* ===============================
Services SECTION
================================== */

.services-text {
  max-width: 484px;
}
.services_head {

font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;

color: #00425F;

}

.services_paragraph {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #00425F;
}

.services {
    background: #F9FAFB;
    padding-top: 50px;
    
}

.services img {
    max-width: 100%;
}

.services-flex {
  display: flex;
  justify-content: space-between;
}

.cardless-flex {
  display: flex;
  justify-content: space-between;
}

#cardless {
    font-style: normal;
font-weight: 700;
font-size: 40px;
color: #00425F;
    
}

.paycode {
   padding: 60px 30px;
}

/* ===============================
Wallet SECTION
================================== */

.wallet {
padding-top: 75px;
padding-bottom: 50px;

padding-left: 20px;
padding-right: 20px;


background: #E5E7EB;;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.wallet_head {
max-width: 550px;
color: #00425F;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
}

.wallet img {
    max-width: 100%;
}
.wallet_paragraph {
    max-width: 532px;
    color: #00425F;
    font-size: 16px;
}

.wallet-btn {
    background-color: #00425F;
    color: #fff;
    text-transform: none;
    
}

.wallet-btn:hover{
    color: #fff;
}

/* ===============================
Grow Africa SECTION
================================== */


.grow_africa {
padding: 50px 0;
height: auto;
   
  
  background-image: 
  linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
  url('../image/Grow_together.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grow_africa-text {
    float: right;
}

.grow_africa-heading {
    color: #fff;
    max-width: 515px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.grow_africa-paragraph {
    max-width: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

/* ===============================
Pay with Verve SECTION
================================== */

.pay {
    padding: 80px 0px;
}

.pay-story-main-heading {
 font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 72px;
color: #00425F;

}

.pay-heading {
   
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #353F50;
}

.brand_logos {
    padding-top: 55px;
}

.brand_logos img:hover{
    transform: translateY(-20px);
    transition: ease-out;
  }

/* ===============================
Get in touch SECTION
================================== */
.get_in_touch {
    height: auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../image/dark_blue_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    margin: 80px;
    border-radius: 10px;
}

.get-in-main-heading {
font-weight: 700;
font-size: 36px;
line-height: 43px;
color: #fff;
padding-top: 50px;
padding-left: 10px;
padding-right: 10px;

}

.get-in-heading {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: white;
padding: 20px;
}

.get-in-btn {
    background-color: #DC4437;
    color: #fff;
    text-transform: none;
   
   
}
.get-in-btn:hover {
    color: #fff;
}

.button-fix {
    padding: 40px 0;
}


/* FOOTER */

.footer_area{
    max-width: 100%;
}


/* ===============================
Responsive styling SECTION
================================== */


@media (max-width: 1300px){ 

}


@media (max-width: 1280px){
    .hero-section {
    height: 120vh;
    }
    .hero-text {
      top: 50%;
      right: 20%;
    }

    .deal-fix {
      width: 320px;
    }

    .deal-btn-fix {
    
    }

 

    /* .grow_africa {
        height: 95vh;
    } */

    .nav-item {
        font-size: 15px;
    }
     }

     @media (max-width: 1028px) {
      .services-text {
        padding: 35px 0;
      }
      .services-flex {
        flex-direction: column;
        align-items: center;
      }

      .cardless-flex {
        flex-direction: column-reverse;
        align-items: center;
      }

     }

@media(max-width: 991px){
    .hero-text {
        right: 25%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media (max-width: 768px){ 
    /* Styles */
    .hero-text {
        left: 200px;
    }

    .hero-text h2 {
        font-size: 35px;
      line-height: 36px;
      text-align: right;
      }
  
      .hero-text p {
        font-size: 58px;
      line-height: 19px;
      text-align: right;
      }
}

@media only screen and (min-width: 486px) and (max-width: 705px) {
    /* Styles */
    .hero-text {
     right: 15%;
      top: 300px;
      font-family: "Averta" !important;
      padding-right: 7px;
  }
  
  
  
      .hero-text h1 {
        font-size: 24px;
      line-height: 36px;
      text-align: right;
      }
  
      .hero-text p {
      font-size: 48px;
      line-height: 19px;
      text-align: right;
      }

      .wallet img {
        max-width: 320px;
      }

      .get_in_touch {
      padding-top: 0px;
    margin: 20px;
    height: 42vh;
      }

}

@media (max-width: 485px) {
    .hero-text {
      left: 0%;
      right: 2%;
      top: 300px;
      font-family: "Averta" !important;
      padding-right: 20px;
  
      }
  
      .hero-text h2 {
        font-size: 35px;
      line-height: 36px;
      text-align: right;
      }
  
      .hero-text p {
        font-size: 54px;
      line-height: 19px;
      text-align: right;
      }

      .hfa-heading {
        font-size: 15px;
      }

      .main_content img{
        width: 290px;
      }

      .deal-fix {
        width: 165px;
      }
      .background--text {
        font-size: 130px;
      }
      .wallet img {
        max-width: 300px;
      }

      .for_you-heading {
        font-size: 35px;
        font-weight: 600;
        line-height: 64px;
      }

      .get_in_touch {
        margin: 20px;
      }

      .get-in-main-heading {
        font-weight: 700;
        font-size: 21px;
        line-height: 43px;
        padding-top: 0px;
    }

    .get-in-heading {
        font-weight: 300;
        font-size: 13px;
        line-height: 24px;
        color: white;
    }

    .services img{
        width: 320px;
        margin-right: auto;
    }
    .lg {
        font-size: 2rem;
    }

    #cardless {
        font-size: 24px;
    }

    .services_paragraph {
        max-width: 289px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }

    .grow_africa {
        height: auto;
    }
}

    @media (max-width: 375px) {
        .hero-text {
            left: 93px;
            top: 385px;
    } 

    .hero-text h2 {
        font-size: 35px;
      line-height: 36px;
      text-align: right;
      }
  
      .hero-text p {
        font-size: 36px;
      line-height: 19px;
      text-align: right;
      }

      .background--text {
        font-size: 120px;
      }

      .main_content img {
        width: 245px;
      }

      .deal-fix {
        width: 170px;
      }

      .wallet_head {
        line-height: 45px;
      }

      .wallet_paragraph {
        font-size: 11px;
        margin: 18px 13px;
      }

      .grow_africa-heading {
        font-size: 25px;
      }

      .grow_africa-paragraph {
        font-size: 13px;
      }

      .grow_africa {
        padding: 50px 0;
      }

      .services_head {
  
        width: 288px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
      }

    .wallet_head {
        font-size: 34px;
    }

  
}