@font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Bold.woff2") format("woff2"),
      url("Averta-web-font/Averta-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-BlackItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Thin.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-SemiboldItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-ThinItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Light.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Regular.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-BlackItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Black.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-Semibold.woff2") format("woff2"),
      url("../Averta-web-font/Averta-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-ExtraBoldItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-LightItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-RegularItalic.woff2") format("woff2"),
      url("../Averta-web-font/Averta-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Averta";
    src: url("../Averta-web-font/Averta-ExtraBold.woff2") format("woff2"),
      url("../Averta-web-font/Averta-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  :root {
    --primary-color: #00425F; 
    --primary-color-dark: #012534;
    --darker-color: #00151f;
    --light-color: rgba(238, 237, 237, 0.856);
    --primary-red: #DC4437;
  
  }
  
  body h1, html,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  /* .btn, */
  li,
  a,
  form,
  label {
  font-family: "Averta" !important;

  
  
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: "Averta" !important;
    padding: 0;
    
  } 




 /* ===============================
 BANNER SECTION START 
================================== */


/* Banner image */
.verve_academy-home {
  background-color: white;
  background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url('../image/Verve-academy-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  }

/* Banner text */
.hero-text {
  text-align: left;
  max-width: 612px;
  padding-left: 172px;
  padding-top: 30px;
  padding-bottom: 131px;
  margin: 0;
 

  /* padding-right: 50px; */
  }

.hero-text h1 {

font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 61px;
text-align: left;
color: #00425F;
padding-bottom: 32px;
  
}

.hero-text p {
font-family: "Averta" !important;
text-align: left;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #00425F;
  /* padding-left: 60px; */
}

.hero-text button {
  background-color: #AEDDF1;
  color: #00425F;
 margin-top: 32px;
 padding: 16px 16px;
 border-radius: 15px !important;
 margin-bottom: 15px;
 font-size: 14px;

}

.hero-text button:hover {
  color: #00425F;
}

/* NAVBAR AREA */
nav {
  padding: 2em 1em;
  transition: all .3s;

}

.nav_parent {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.logo {
  flex: 1 0 auto;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 30px;
}

.menu-button {
  background-color: #00425F !important;
}

.menu-button::after, .menu-button::before {
  background-color: #00425F !important;
}


.logo:hover {
  text-decoration: none;
  cursor: default;
}

li {
  margin-right: 25px;
}

li:hover {
  cursor: pointer;
}

.nav-item {
  font-size: 20px;
  padding-right: 40px;
  justify-content: space-between;
  color: #00425F;
}

.nav-item a {
  color: #00425F !important;
}

.nav-item a:hover {
  color: #EE312A !important;
}

.nav-item img {
  vertical-align: middle;
}

.bi-chevron-down {
  padding-left: 10px;
}

.nav-item a:hover {
  transform: scale(1.1);
  color: #DC4437;

}

.nav-item:hover {
  transform: scale(1.1);
  color: #DC4437;

}

/* BANNER SECTION END */


/* ===============================
HERE FOR AFRICA SECTION
================================== */

.hfa {
  width: 100%;
  text-align: center;
  background: url(image/hfa-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;

}

.hfa-text {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
}

.hfa-story-main-heading {
padding-bottom: 30px;
max-width: 551px;
font-family: 'Averta';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 64px;
text-align: left;

color: #ffffff;
}

.hfa-heading {
color: #ffffff;

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
max-width: 512px;

text-align: left;
}

.hfa-flex {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px 0;
  flex-wrap: wrap;
}

.here-for-things {
  padding: 75px 0px;
  background-repeat: no-repeat;
}

.here-heading {
  max-width: 911px;
 text-align: center;
}

/* Stats */
.stats {
  padding-top: 75px;
  padding-bottom: 50px;
 
  background-image: 
  linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
  url('../image/blue-grey-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stats .grid h3 {
  font-size: 20px;
  color: #fff;
  padding-top: 20px;
 
  font-weight: 700;
  
}

.payments-heading {
  font-weight: 700;
font-size: 20px;
line-height: 32px;
}

.stats .grid img {
  padding-top: 10px;
}

#text-style {
  font-size: larger;
}

.text-mid {
  max-width: 333px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.learn-more {
  color: #fff;
  padding-top: 20px;
}

.learn-more:hover {
  cursor: pointer;
}


/* ================
  WEBINAR SECTION
==================*/

.webinar-section {
  padding-top: 62px;
}

.webinar-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #00425F;
  padding-bottom: 20px;
}

.webinar {
  background-color: #F9FAFB;
  border-radius: 24px;
}


.webinar-flex {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}


.webinar-image-container {
  max-width: 350px;
}

.webinar-image-container img {
  width: 100%;
}

.webinar-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.webinar-text-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #18425D;
}

.webinar-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.webinar-date {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 0;

  color: #EE312A;

}

.webinar-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.webinar-btns i {
  font-size: 20px;
}

.webinar-watch {
  background: #00425F;
  text-decoration: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 25px;
  text-align: center;

}

.more-webinar {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
 outline: none;


  color: #EE312A;
}

/* ===============================
Get in touch SECTION
================================== */
.get_in_touch {
  height: auto;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../image/blue-generic-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  margin: 80px;
  border-radius: 10px;
}

.get-in-main-heading {
font-weight: 700;
font-size: 36px;
line-height: 43px;
color: #fff;
padding-top: 50px;
padding-left: 10px;
padding-right: 10px;

}

.get-in-heading {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: white;
padding: 20px;
}

.get-in-btn {
  background-color: #DC4437 !important;
  color: #fff !important;
  text-transform: none;
  border: none !important;
  padding: 16px 78px !important;
}
.get-in-btn:hover {
  color: #fff;
}

.button-fix {
  padding: 40px 0;
}

/*==================================
RESPONSIVE STYLING
=================================== */
/* Small laptops */
@media (max-width: 1280px){
  .hero-section {
  height: 120vh;
  }
  .hero-text {
    top: 50%;
  }
  
   }
/* iPads (portrait and landscape) ----------- */
@media (max-width: 1024px) { 
  /* Styles */
  

  .hero-text {
    width: auto;
    
    left: 50px;
    top: 300px;
    font-family: "Averta" !important;
    padding-left: 55px;
    }


    .top-nav {
      padding: 3.5em 51px !important;
  }
    .nav-item {
      font-size: 20px;
    padding-right: 35px;
    }

    .hfa-text {
      padding: 0 10px;
    }

    .hfa-flex {
      padding: 0 10px;
    }

    .webinar-heading {
      padding-left: 30px;
    }


}

@media (max-width: 991px) {
  .hfa-story-main-heading {
    font-weight: 700;
    font-size: 34px;
    line-height: 45px;
  }
  .hfa-heading {
    font-size: 15px;
    line-height: 24px;
  }

  .hfa-text {
    padding-bottom: 30px;
  }
}
 
@media (max-width: 768px) {
  .Verve_Access-home {
    background-position: left;
  }
    /* Styles */
    .hero-text {
      left: 50px;
      top: 300px;
      font-family: "Averta" !important;
      padding-right: 60px;
      /* padding-right: 50px; */
  
      }
  
      .hero-text h1 {
        font-size: 47px;
        line-height: 47px;
      }
  
      .hero-text p {
        font-size: 17px;
      line-height: 19px;
      }

      .webinar-flex {

    flex-direction: column;
    align-items: center;
      }

      .hfa-text {
        flex-direction: column;
      }

      .webinar-image-container {
        max-width: 470px;
    }

    .webinar-btns {
      padding-top: 20px;
    }
  }



@media (max-width: 480px) {

  .verve_academy-home {
    height: 680px;
    background-size: contain;
    background-position: 50% 57%;
    background-color: #fff !important;
    background-image:
        url('../image/Verve-academy-bg.png');
  }
  .hero-text {
    left: 50px;
    top: 300px;
    font-family: "Averta" !important;
    padding-top: 0px;
    padding-left: 29px;
    /* padding-right: 50px; */

    }

    .hero-text h1 {
      font-size: 32px;
    line-height: 36px;
    text-align: left;
    padding-bottom: 0px;
    }

    .hero-text p {
      font-size: 16px;
      line-height: 23px;
    text-align: left;
    padding-top: 195px;

    }

    .hero-text button {
      border-radius: 6px;
      padding: 16px 35px;
    }

    .get_in_touch {
      margin: 27px;
    }

    .webinar-btns {
      justify-content: center;
      align-items: stretch;
      text-align: center;
      flex-direction: column;
      padding-top: 15px;
    }

    .webinar-text {
      padding: 0 12px;
    }

    .webinar-image-container {
      padding-bottom: 20px;
      max-width: 390px;
    }
}



@media (max-width: 375px) {
  .hero-text {
    left: 2px;
    top: 250px;
    font-family: "Averta" !important;
    /* padding: 51px; */
    padding-right: 25px;
    }

    /* .hero-text h1 {
      font-size: 18px;
      line-height: 35px;
      text-align: left;
    } */

    .hero-text p {
      /* font-size: 11px; */
    line-height: 19px;
    text-align: left;
    /* max-width: 240px; */
    }

    .webinar-image-container {
     max-width: 350px;
    }

}

@media (max-width: 320px) {
  .webinar-image-container {
    max-width: 300px;
   }
}